input.ng-invalid {
    border: 1px solid red;
}
input.ng-valid {
    border: 1px solid green;
}

aside {
    background: #A51C30;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
}
.center {
    text-align: center;
}

.l-box {
    padding: 1em;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.truncated-post:hover {
    background: #EEE;
}

.error {
    background: #f5ab9e;
    color: #8c3a2b;
}

a {
  color:inherit;
  text-decoration: none;
 }
 a:hover {
    text-decoration: underline;
 }

