<div class="hero">
    <a ui-sref="feeds.create" class="pure-button button-success button-xlarge">Add a new RSS feed</a>
</div>

<aside>
    <h3>Importing news from {{ feeds.length }} feeds</h3>
</aside>



<div ng-repeat="feed in feeds" id="feed-{feed.id}">
    <h1>{{ feed.title }}</h1>
    <ul>
        <li>Permalink: {{ feed.permalink }}</li>
        <li>Website: <a ng-href="{{ feed.website }}">{{ feed.website }}</a></li>
    </ul>
    <button class="pure-button button-warning" ng-click="deleteFeed(feed.id)">Remove feed</button>
</div>