<div class="pure-g-r">

    <aside class="pure-u-1-1" style="padding:20px" ng-show="queryTags.length > 0">
        <span>Displaying posts with one or more of the following tags (click tag to remove)</span><br/>
        <a ng-repeat="tag in queryTags" ng-click="removeQueryTag(tag)" class="pure-button pure-button-active button-small">
            {{ tag.name }}
        </a>
    </aside>
    <div class="pure-u-1-3">
        <h3>Search for tags</h3>
        <form class="pure-form">
            <input type="text" ng-model="tagSearch" placeholder="Search for tag" class="clearable">
        </form>
    </div>
    <div class="pure-u-2-3">
        <div class="padded">
            <a ng-repeat="tag in tags | filter:tagSearch | limitTo:15" ng-click="addQueryTag(tag)" class="pure-button button-xsmall">
                {{ tag.name }}
            </a>
        </div>
    </div>
</div>

<form ng-submit="search()" class="pure-form">
    <input ng-model="search.query" class="pure-input-1 clearable" placeholder="Fulltext search"/>
    <input type="submit" class="pure-button button-primary pure-u-1" value="Search"/>
</form>

<div ng-include="'/partials/posts.internal.list.html'"></div>
