<div ng-repeat="post in posts" id="post-{{ post.id }}">
    <h3>{{ post.title }}</h3>
    <p ng-hide="post.expanded">{{ post.body | unescape | truncate:maxPostLength}}<a href="#" ng-click="expandPost(post.pos)" ng-if="post.body.length > maxPostLength" class="text-muted">Expand</a></p>
    <p ng-show="post.expanded">{{ post.body | unescape}}</p>
</div>

<aside ng-mouseover="infiniteLoadMore()" ng-click="infiniteLoadMore()">
    <p class="center">
        Move your mouse here to load more!
    </p>
</aside>
